$gradient: linear-gradient(to bottom right, rgba(209,33,205,0.92),rgba(68,74,238,0.92));
$secondaryGradient: linear-gradient(to bottom right, rgba(241,241,241,0.8),rgba(241,241,241,0.8));

$typogMain:'Lato', sans-serif;
$typogItalic:'Crimson Text', serif;

$textColorMain: #FFF;
$textColorSecondary: #000;
$textColorTert: #615F6E;
$textColorQuad:#969595;

$sectionBackground:#F4F3F3;

$footerBackground:#33313E;
